html, body {
  background-color: rgb(63, 63, 63);
}

.container {
  width: 100%;
}

.header {
  text-align: center;
}

.cancel-btn {
  margin-left: 10px;
}

/* //POST SHOW CONTENTS /////////////////////////////////////////////////// */
.post-show-main {
  margin: 50px 0px 0px 130px;
  width: 85%;

}

.post-title {
  font-size: 3em;
  width: 65%;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.post-contents {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.post-right-div {
  width: 33%;
}

.post-description-title {
  font-weight: 800;
  font-size: 22px;
}

.post-description {
  height: 430px;
  margin-top: 20px;
  padding: 10px 30px 25px 35px;
  border: solid black 2px;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
  overflow: scroll;
  overflow-x: hidden;
}

.post-words {
  font-size: 20px;
  line-height: 1.45em;
}

.post-div-media {
  width: 65%;
  border-radius: 10px;
  display: flex;
  height: 550px;
  border: solid black 2px;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 221, 221);
}

.post-media {
  max-width: 100%;
  height: 100%;
  max-height: 550px;
}

.post-home-button {
  width: 100%;
  margin-top: 2px;
}

.home {
  width: 100%;
  font-size: 18px;
}

.delete-div-button {
  width: 100%;
  margin-top: 20px;
}

.delete {
  width: 100%;
  font-size: 18px;
}

/* //SCROLLBAR //////////////////////////////////////////////////////////////  */
.post-description::-webkit-scrollbar {
    width: 12px;
}

.post-description::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: magenta;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Main Posts page */
.main-out-div {
  background:  url('https://media.giphy.com/media/l0MYC0BM9Y2VJUehW/giphy.gif') no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
  width: 1665px;
  margin-left: -15px;
  z-index: auto;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  position: relative;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.49);
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding-bottom: 60px;
 position: relative;
 z-index: 1;
}

ul {
  margin-bottom: 70px;
}

.main-title {
  text-align: center;
  color: white;
  z-index: 100;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 40px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.main-bot-half {
  width: 80%;
  text-align: center;
  margin-left: 8.5%;
}

.sub-title {
  margin-left: 44px;
  margin-top: 0px;
  font-size: 43px;
  color: rgb(93, 134, 238);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.main-button-sub-head {
  display: flex;
  justify-content: space-between;
}

.add-post-button {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 21px;
}

.main-post-list {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 7px;
}
